*{
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    color:navy;
    
}

body{
    background-image: url(assets/pexels-jplenio-1103970.jpg);
    background-size: cover;
}

.logo{
    justify-content: center;
    text-align: center;
    width: 500px;
    height: 150px;
    display: flex;
    margin: auto;
}
h3{
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
#input_user_sp{
    width: 300px;
    height: 60px;
    justify-content: center;
    margin: auto;
    border: 2px solid greenyellow;
    border-radius: 10px;

}

#input_Password_sp{
    width: 300px;
    height: 60px;
    justify-content: center;
    margin: auto;
    border: 2px solid greenyellow;
    border-radius: 10px;
    
    
}

.main{
    width: 500px;
    height: 580px;
    border: 4px solid yellowgreen;
    border-radius: 25px;
}

.btn_submit{
    height: 50px;
    width: 300px;
    padding: 5px;
    margin-left: 150px;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
}

#input_re-Password{
    width: 300px;
    height: 60px;
    justify-content: center;
    margin-left: 35px;
    border: 2px solid greenyellow;
    border-radius: 10px;
    margin-top: 20px;
      
}

#input_cell
{
    width: 300px;
    height: 60px;
    justify-content: center;
    margin-left: 35px;
    border: 2px solid greenyellow;
    border-radius: 10px;
    margin-top: 20px;
      
}