*{
    padding: 0%;
    margin: 0%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri;
    color: white;
    
}

body{
    background-image: url(assets/back\ ground.jpg);
    background-size: cover;
}

.Box1{
  
    display: inline-block;
    height: 120px;
    width: 120px;
    padding: 20px;
    margin-left: 20px;
    margin-top: 20px;
    background-image: url(assets/pngaaa.com-2523587.png);
    background-size: cover;
    
    
}
.box2{
    height: 150px;
  font-size: 25px;
  text-decoration-line: underline;
  display: inline-flex;
  margin-top: 30px;
padding: 20px;
position: absolute;

}

.box3{
    height: 300px;
    width:500px ;
    border-radius: 25px;
    border: 10px solid white;
    padding: 20px;
    margin-left: 30%;

}
.box4{
    width: 150px;
    height: 50px;
    display: inline-block;
    font-size: large;
    display: inline-block;
    font-weight: 700px;
    margin-left: 20px;
    

}
input{
    height: 50px;
    width: 300px;
    display: inline-flex;
    border-radius: 25px;
    border: 3px solid black;
    color: blue;
    font-size: medium;
}

.box5{
    display: inline-block;
}

.box6{
    display: inline-block;
    height: 100px;
    width: 100px;
    padding: auto;
    margin-left: 20px;
}
.box7{
    display: inline-block;
    height: 100px;
    width: 100px;
    margin-left: 50px;
}

button{
    height: 40px;
    width: 100px;
    border: 2px solid rgb(133, 25, 221);
    color: black;
    font-size: medium;
    padding: 5px;
    margin-left: 100px;
    display: inline-block;
    background-color: white;
    border-color: rgb(0, 0, 0);
    text-align: center;
    border-radius: 10px;
}
p{
    margin-left: 100px;
    text-align:justify
}
.head{
    height: 200px;
    background-color: rgba(54, 50, 50, .5);
    background-image: url(assets/high-tech-view-futuristic-earth_23-2151100324.jpg);
    background-size: cover;
}
.PI{
    display: inline-block;
    margin-left: 20px;

}
.IPP1{
    margin-left: px;
    height: 50px;
    border-radius: 10px;
    }
.IPP{
    margin-left: px;
    height: 50px;
    border-radius: 10px;
}
.PI2{
    margin-top: 50px;
    margin-left: 0%;
    display: inline-block;
}